<%= page_title(@application.name) do %>
  <%= status_tag(@application.orders_count, level: :default) %>
  <%= link_to 'Edit', edit_application_path(@application), class: 'btn-outline pull-right' %>
<% end %>

<p class="text-right nav-links">
  <small>
    <%= link_to 'Today', application_path(@application, start_date: Date.today, end_date: Date.today) %>
    <%= link_to '7d', application_path(@application, start_date: 7.days.ago.to_date, end_date: Date.today) %>
    <%= link_to '30d', application_path(@application, start_date: 30.days.ago.to_date, end_date: Date.today) %>
    <%= link_to '3m', application_path(@application, start_date: 3.months.ago.to_date, end_date: Date.today) %>
    <%= link_to '6m', application_path(@application, start_date: 6.months.ago.to_date, end_date: Date.today) %>
    <%= link_to '12m', application_path(@application, start_date: 12.months.ago.to_date, end_date: Date.today) %>
  </small>
</p>

<%= render 'price_widgets' %>
<%= render 'graph_widgets' %>

<br><br><br>
<ul>
  <li>Average order price country | city</li>
  <li>Month-to-month comparison
  - Growth
  - Time to reach if subscription</li>
  <li>Prevision CA based on growth</li>
  <li>Monthly Recurring Revenue</li>
  <li>Lifetime Value</li>
  <li>User Churn</li>
  <li>Annual Run Rate</li>
  <li>Net Revenue (revenue - fees)</li>
  <li>Total Fees</li>
  <li>Active Customers</li>
  <li>Cancelled Accounts</li>
  <li>Average Revenue Per User</li>
  <li>Revenue Growth Rate</li>
  <li>Customer Growth Rate</li>
  <li>ARPU Growth Rate</li>
  <li>Failed Charges</li>
  <li>Refunds</li>
  <li>Revenue Lost to Coupons</li>
  <li>Downgrades</li>
  <li>Upgrades</li>
  <li>Per-plan Customer Count</li>
  <li>Per-plan LTV</li>
  <li>Per-plan Churn</li>
  <li>Per-plan Gross Revenue</li>
  <li>Per-plan Fees</li>
</ul>

<% if @orders.any? %>
  <%= content_for :sidebar do %>
	  <%= render 'recent_orders', orders: @orders %>
	<% end %>
<% end %>
