<div class="panel panel-custom">
  <div class="panel-heading">
    <div class="row" data-toggle="collapse" data-parent="#orders" href="#order_<%= order.id %>">
      <div class="col-xs-6 col-sm-2"><%= order.application.name %></div>
      <div class="col-xs-6 col-sm-3"><%= order.date.strftime("%d/%m/%Y %H:%M") %></div>
      <div class="col-xs-4 col-sm-2"><%= number_to_currency(order.total_price, unit: order.currency.upcase, delimiter: "", format: "%n %u") %></div>
      <div class="col-xs-4 col-sm-2"><%= order.uid %></div>
      <div class="col-xs-4 col-sm-3"><%= order.city.titleize %> - <%= order.country.titleize %></div>
    </div>
  </div>
  <%= content_tag_for(:div, order, class: "panel-collapse collapse") do %>
    <div class="panel-body">
      <div class="row order-details">
      <div class="col-xs-6 col-sm-2">
        Shipping: <%= number_to_currency(order.shipping) %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= order.client_email %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-gift') if order.gift %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-tag') if order.coupon %>
        <%= content_tag(:span, order.coupon_code) if order.coupon_code.present? %>
      </div>
      <div class="col-xs-6 col-sm-5"><%= link_to order.url, "#{order.url}", target: :blank %></div>
      <div class="col-xs-6 col-sm-2"><span class="badge"><%= pluralize(order.products_count, 'produit') %></span></div>
    </div>
    </div>
  <% end %>
</div>