<p class="tright">
  <%= link_to "Toggle orders", "#", id: 'toggle-push-menu' %>
</p>

<div class="row stats">
	<div class="col-md-2">
    <h6>&nbsp;</h6>
    <p>Today:</p>
    <p>This week:</p>
    <p>This month:</p>
    <p>Year to date:</p>
	</div>
  <% Application.order('name').each do |app| %>
    <div class="col-xs-6 col-sm-6 col-md-2">
      <h6><%= link_to app.name.upcase, application_path(app) %></h6>
      <p><%= number_to_currency(@daily_orders_amount) %> <small>(<%= @daily_orders_count %>)</small></p>
      <p><%= number_to_currency(@weekly_orders_amount) %> <small>(<%= @weekly_orders_count %>)</small></p>
      <p><%= number_to_currency(@monthly_orders_amount) %> <small>(<%= @monthly_orders_count %>)</small></p>
      <p><%= number_to_currency(@ytd_orders_amount) %> <small>(<%= @ytd_orders_count %>)</small></p>
    </div>
  <% end %>
</div>

<%= line_chart @orders_by_day, colors: ['#d70206'], library: {backgroundColor: "transparent"} %>

<% if @orders.any? %>
  <%= content_for :sidebar do %>
    <%= render 'recent_orders', orders: @orders %>
  <% end %>
<% end %>

<script>
  $( "#toggle-push-menu" ).click(function() {
    $( ".push-menu" ).toggleClass('active');
    $( ".push-menu" ).toggleClass('push-menu-open');
  });
</script>