<input type="text" placeholder="Search for order" class="form-control input-lg" name="searchOrder"/>

<table class="table table-light">
  <thead>
    <tr>
	  	<th>Source</th>
	    <th>Date</th>
	    <th>Total Amount</th>
	    <th>UID</th>
	    <th>Location</th>
	  </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.application.name %></td>
        <td><%= order.date %></td>
        <td><%= number_to_currency(order.total_price, unit: order.currency.upcase, delimiter: "", format: "%n %u") %></td>
        <td><%= order.uid %></td>
        <td><%= order.city %> - <%= order.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>