<%= page_title "Dashboard" %>
<%= page_section "Today" %>

<div class="row">
  <% @applications.each do |app| %>
    <div class="col-md-3 mb4">
      <div class="widget-graph">
        <div class="widget">
          <% serie = app.metrics["net_revenue"]["today"] %>
          <span class="widget-title">
            app.name
          </span>
          <h2>
            <%= number_to_currency(serie["value"], locale: app.locale) %>
            <small class="<%= (serie['percentage_change'].to_f || 0) > 0 ? 'positive' : 'negative' %>"><%= number_to_percentage(serie["percentage_change"] || 0, precision: 2) %></small>
          </h2>
        </div>
        <canvas id="sparkline1" width="358" height="89" class="apu" data-chart="spark-line" data-value="[{strokeColor: '#1ca8dd', fillColor:'rgba(28,168,221,.03)', data:[28,68,41,43,96,45,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 358px; height: 89px;"></canvas>
      </div>
    </div>
  <% end %>
</div>

<%= render 'graphs' %>

<h4>Orders count by day</h4>
<%= area_chart @orders_by_day %>

<% if @orders.any? %>
  <%= content_for :sidebar do %>
    <%= render 'recent_orders', orders: @orders %>
  <% end %>
<% end %>

