<p class="text-right">
  <%= link_to "Toggle orders", "#", id: 'toggle-push-menu' %>
</p>

<div class="row stats">
	<div class="col-md-2">
    <h6>&nbsp;</h6>
    <p>Today:</p>
    <p>This week:</p>
    <p>This month:</p>
    <p>Year to date:</p>
	</div>
  <%= cache do %>
    <% @applications.each do |app| %>
      <div class="col-xs-6 col-sm-6 col-md-2">
        <h6>
          <%= link_to app.name.upcase, application_path(app) %>
        </h6>
        <p>
          <%= number_to_currency(app.metrics["net_revenue"]["today"], locale: app.locale) %> <small>(<%= app.metrics["orders_count"]["today"] %>)</small>
        </p>
        <p>
          <%= number_to_currency(app.metrics["net_revenue"]["this_week"], locale: app.locale) %> <small>(<%= app.metrics["orders_count"]["this_week"] %>)</small>
        </p>
        <p>
          <%= number_to_currency(app.metrics["net_revenue"]["this_month"], locale: app.locale) %> <small>(<%= app.metrics["orders_count"]["this_month"] %>)</small>
        </p>
        <p>
          <%= number_to_currency(app.metrics["net_revenue"]["this_year"], locale: app.locale) %> <small>(<%= app.metrics["orders_count"]["this_year"] %>)</small>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<h4>Orders count by day</h4>
<%= line_chart @orders_by_day, colors: ['#d70206'], library: {backgroundColor: "#453d3f"} %>

<% if @orders.any? %>
  <%= content_for :sidebar do %>
    <%= render 'recent_orders', orders: @orders %>
  <% end %>
<% end %>

