<!DOCTYPE html>
<html>
<head>
  <title>QueenBee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="OrdersCtrl">
	<div class="container main-container">
		<%= render 'header' %>
    <%= render 'flash' %>

    <%= yield %>

	  <%= render 'footer' %>
  </div>
</body>
</html>
