<!DOCTYPE html>
<html>
<head>
  <title>QueenBee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="OrdersCtrl">
  <%= render 'header' %>

	<div class="container main-container">
    <%= render 'flash' %>
    <%= yield %>
    <%= yield(:sidebar) if content_for?(:sidebar) %>
	  <%#= render 'footer' %>
  </div>

  <script>
    $( "#toggle-push-menu" ).click(function(event){
      event.preventDefault();
      $( ".push-menu" ).toggleClass('push-menu-open');
    });
  </script>
</body>
</html>
