<!DOCTYPE html>
<html>
<head>
  <title>QueenBee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="OrdersCtrl">
	<div class="container main-container">
		<%= render 'header' %>

    <%= yield %>

	  <div class="row footer">
      <div class="col-md-6">
        <p>© yafoy - <%= Time.now.year %></p>
      </div>
      <div class="col-md-6">
        <ul>
          <li><%= link_to "Applications", applications_path %></li>
        </ul>
      </div>
    </div> <!-- end footer -->
  </div>
</body>
</html>
